/*COLOR PALATTE
Dark Green: #0a1316
Bright-Green: #03CC85
*/

/*==============*/
/*GENERAL STYLES */
/*==============*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.body {
    background-color: rgb(250, 249, 249);
}

.home-page h1,
.h1, 
.h2, 
.about h3, 
.about h4, 
.services-content h3, 
.services-content h4,
.projects h3, 
.projects h4,
.project-info h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 0.02rem;
}

.home-page, 
.collapse-content,
.about-content p, 
.projects, 
.card, 
.contact,
.resume-download h4,
.project-info p,
.project-info li {
    font-family: Quattrocento, serif;
}

a {
    text-decoration: none;
}

.h2 {
    padding: 100px 0 5px;
    font-size: 35px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.h3 {
    font-size: 22px;
    letter-spacing: 0.1rem;
    padding-bottom: 15px;
}

.underline {
    width: 40px;
    height: 6px;
    background-color:#03CC85;
    margin: 0 auto;
    margin-bottom: 50px;
}


/*==============*/
/*NAVIGATION STYLES */
/*==============*/

.nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 55px;
}

.background-color{
    background-color: #0a1316;
    transition-duration: 1s;
}

.logo {
    position: absolute;
    top: 13px;
    left: 12px;
    font-size: 35px;
    font-family: 'Arizonia';
    color: white;
}

#logo:hover {
    color: white;
}

.nav-button {
    position: absolute;
    top: 12px;
    right: 10px;
    background: none;
    border: none;
}

.burger-bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 5px;
}

.collapse-content {
    padding: 55px 0 0 0;
    display: none;
}

.collapse-content li {
    padding: 10px 5px;
    text-transform: uppercase; 
    text-align: center;
    letter-spacing: 1px;
}

.collapse-content a {
    color: white;
}

.nav a:hover {
    color:#03CC85; 
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
}

.nav-divider {
    width: 100vw;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.199);
}

.show-nav {
    display: block;
    -webkit-transition: display 200ms ease-in-out;
         -o-transition: display 200ms ease-in-out;
            transition: display 200ms ease-in-out;
}




/*==============*/
/*LANDING PAGE STYLES */
/*==============*/

.home-page {
    line-height: 1.3;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('images/jay-mantri-TFyi0QOx08c-unsplash.jpg');
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/jay-mantri-TFyi0QOx08c-unsplash.jpg');
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/jay-mantri-TFyi0QOx08c-unsplash.jpg');
    background-position: bottom right;
    background-attachment: fixed;
    height: 115vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
    text-shadow: 1px 1px 2px rgb(79, 79, 79);
}

.home-page-content {
    padding: 0 10vw 0 15vw;
}

.home-page h1{
    font-size: 45px;
    padding-top: 35vh;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.hidden {
    display: none;
}

.line {
    background-color: white;
    height: 1px;
    margin: 8px 0;
    animation: 1200ms ease-in-out slide-mobile;
    width: 210px;
}




/*==============*/
/*ABOUT STYLES */
/*==============*/

.main {
    text-align: center;
    line-height: 1.35;
    letter-spacing: 0.01em;
    margin-top: -15vh;
}

.about {
    padding: 100px 0 60px;
}

.about-me {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 50px;

}

.about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.image {
    width: 240px;
    height: auto;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
            clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
    border-radius: 5px;
}

.about-content {
    text-align: left;
}

.about-content p {
    margin-bottom: 15px;
}

.about h3 {
    color: black;
    letter-spacing: 0.1rem;
    padding-bottom: 15px;
}

/*==============*/
/*SERVICES STYLES */
/*==============*/

.services-content {
    padding-bottom: 60px;
    background: rgb(244, 244, 244);
}

.card {
    margin: 40px auto;
    width: 70%;
}

.service {
    background-color:rgb(250, 249, 249);
    border-bottom: 3px solid #03CC85;
    box-shadow: 1px 1px 5px rgb(235, 235, 235);
    padding: 30px;
}

.card-icon {
    font-size: 60px;
    margin: 20px;
    color: #0a1316;
}

.serve {
    padding-bottom: 120px;
}

.programming-skills,
.design-skills {
    text-align: left;
    border-bottom: 2px solid rgb(218, 217, 217);
    margin: 0 auto;
    padding-bottom: 60px;
}

.skill {
    padding-bottom: 12px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: #0a1316;
}

.gray {
    background-color: rgb(163, 162, 162);
}

.resume-container {
    margin-top: 60px;
    display: inline-block;
}

.resume-download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.far {
    background-color: #03CC85;
    font-size: 20px;
    color: white;
    padding: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.resume-download span {
    color: white;
    background: black;
    padding: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* =============
PROJECTS
============= */
.projects {
    padding-bottom: 150px;
    margin: 0 auto;
}

.proj-container {   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
}

.single-proj {
    position: relative;
}

.proj-image {
    width: 280px;
    height: 100%;;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0; 
    -webkit-transition: 300ms ease-in;
         -o-transition: 300ms ease-in;
            transition: 300ms ease-in;
    background-color: #0a1316;
    padding: 40px 20px;
}

.show {
    opacity: 1;
}

.single-proj:hover .overlay {
    opacity: 1;
}

.projects h3 {
    font-size: 26px;
    color: white;
}

.proj-text {
    color: white;
    font-size: 16px;
    padding-bottom: 30px;
}

.proj-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
}

.project-button {
    color: #0a1316;
    background: white;
    border-radius: 5px;
    padding: 7px 10px;
    width: 60%;
}

.project-button:hover{
    background:#03CC85; 
    -webkit-transform: scale(1.05); 
        -ms-transform: scale(1.05); 
            transform: scale(1.05);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    -o-transition: transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
         -o-transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
            transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
    -webkit-transition-duration: 400ms;
         -o-transition-duration: 400ms;
            transition-duration: 400ms;
}


/* =============
INDIVIDUAL PROJECTS
============= */
/* .proj-nav {
     background-color: #0a1316;
} */

.single-project {
    height: 40vh;
    background-position: bottom right;
    margin-bottom: 150px;
}

#proj-h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 16vh;
}

.proj-underline {
    background-color: #03CC85;
    height: 6px;
    width: 80px;
    margin: 2px auto;   
}

.project-info {
    text-align: center;
    padding: 30px;
}

.single-project-image {
    width: 85%;
    margin: 20px auto;
}

.project-info p {
    line-height: 1.3;
    margin-bottom: 40px;
}

.project-info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 30px;
}

.proj-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.sp-button {
    background: #03CC85;
    color:white;
    border-radius: 5px;
    padding: 7px 10px;
    width: 46%;
}

.sp-button:hover {
    background: #0a1316;
}

.sp-icons {
    padding-top: 100px;
}


/* =============
CONTACT
============= */

.contact {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.78)), to(rgba(0, 0, 0, 0.78))), url("images/forest.jpg");
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("images/forest.jpg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("images/forest.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
    padding-bottom: 50px;
    color: white;
    text-shadow: 1px 1px 1px rgb(54, 54, 54);
}

.contact h2 {
    color: white;
    padding-top: 200px;
}

.contact p {
    padding: 15px;
}

.email a {
    color:white;
    font-size: 20px;
}

.email a:hover {
    color: #03CC85;
}

.icons {
    margin: 30px auto 20px;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.icon-link{
    color:white;
}

.icon-link:hover {
    color: #03CC85;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
         -o-transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
            transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
    -webkit-transition-duration: 400ms;
         -o-transition-duration: 400ms;
            transition-duration: 400ms;
}

.bottom-line {
    height: 1px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.434);
}

.website {
    margin-top: 30px;
    color: gray;
    text-align: center;
}


/* =============
KEYFRAMES
============= */

@keyframes slide-mobile{
    0% {
        background-color: rgba(255, 255, 255, 0);
        width: 0;
    }
    100% {
        width: 210px;
    }
}
@keyframes slide-medium{
    0% {
        background-color: rgba(255, 255, 255, 0);
        width: 0;
    }
    100% {
        width: 320px;
    }
}
@keyframes slide-desktop{
    0% {
        background-color: rgba(255, 255, 255, 0);
        width: 0;
    }
    100% {
        width: 410px;   
    }
}

/* =============
MEDIA QUERIES
============= */
@media (min-width: 470px) {
    .card {
        width: 50%;
    }
}
@media (min-width: 650px) {
    .card {
        width: 40%;
    }
}
@media (min-width: 768px) {
    /*global styles*/
    .h2 {
        font-size: 50px;
    }
    .underline {
        width: 50px;
        height: 7px;
        margin-bottom: 80px;
    }
    /*nav styles*/
    .nav-divider,
    .nav-button {
        display: none;
    }
    .logo {
        font-size: 40px;
        padding: 10px 0 0 30px;
    }
    .collapse-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        padding-top: 32px;
    }
    .ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .collapse-content a {
        font-size: 16px;
        padding-right: 25px;
    }
    .transition{
        padding-top: 20px;
        -webkit-transition-duration: 0s;
             -o-transition-duration: 0s;
                transition-duration: 0s;
    }
    .up {
        padding-top: 0;
        -webkit-transition-duration: 0s;
             -o-transition-duration: 0s;
                transition-duration: 0s;
    }
    /*landing page styles*/
    .line {
        width: 320px;
        animation: 1200ms ease-in-out 300ms slide-medium;

    }
    .home-page h1 {
        font-size: 70px;
    }
    .home-page p {
        font-size: 24px;
    }
    /*about styles*/
    .about p {
        font-size: 18px;
        line-height: 1.35;
        width: 80%;
        margin: 10px auto;
    }
    .skill p {
        margin: 0;
    }
    .h3 {
        font-size: 28px;
        padding-bottom: 10px;
    }
    h3.title {
        padding-bottom: 30px;
        text-align: center;
    }
    div.skills {
        padding-top: 50px;
    }
    .skill-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    /*project styles*/
    .projects p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .project-button {
        width: 70%;
    }
     /*single project styles*/
    .project-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
           -ms-flex-align: end;
              align-items: flex-end;
        margin: 180px 0 100px 0;
    }
    .single-project-image {
        width: 40%;
        margin: 0 30px;
    }
    .proj-underline {
        width: 80px;
        height: 7px;
    }
    .sp-button {
        border-radius: 5px;
        padding: 8px 10px;
    }
    /*contact styles*/
    .contact p {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .email a {
        font-size: 22px;
    }
    .icons {
        margin-top: 35px;
        width: 60%;
        font-size: 35px;
    }
}
@media (min-width: 1200px){
    /*global styles*/
    .h2 {
        font-size: 60px;
        padding-bottom: 0;
    }
    .h3 {
        font-size: 30px;
    }
    .underline {
        width: 60px;
        height: 8px;
        margin-bottom: 100px;
    }
    /*nav styles*/
    .collapse-content {
        padding-top: 35px;
    }
    .transition {
        padding-top: 20px;
    }
    .logo {
        padding: 18px 0 0 50px;
    }
    .up {
        padding-top: 2px;
    }
    .collapse-content a {
        font-size: 18px;
        padding-right: 40px;
    }
    /*home page styles*/
    .home-page h1 {
        font-size: 90px;
        padding-top: 40vh;
    }
    .line {
        width: 410px;
        animation: 1200ms ease-in-out slide-desktop;

    }
    .home-page p {
        font-size: 32px;
    }
    /*about styles*/
    .about-me {
        margin: 0 auto;
        width: 100%;
        width: 80%;
    }
    .about-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
           -ms-flex-align: start;
              align-items: flex-start;
    }
    .about-content img {
        width: 40%;
        margin: 0;
    }
    .about-content p {
        margin: 0 60px 20px;
        font-size: 20px;
    }
    .services:first-child {
        padding: 80px 0 0;
    }
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        width: 80%;
    }
    .programming-skills, 
    .design-skills {
        margin: 0 auto;
        width: 80%;
    }
    .service {
        margin: 0 30px;
    }
    .resume-container {
        padding-bottom: 30px;
    }
    /*project styles*/
    .proj-image {
        width: 400px;
        height: 100%;;
    }
    .projects h3 {
        margin-bottom: 20px;
        font-size: 35px;
        letter-spacing: 1px;
    }
    .project-button {
        padding: 10px 12px;
    }
     /*single project page styles*/
    #proj-h1{
        font-size: 90px;
    }
    .proj-text {
        font-size: 22px;
        padding-bottom: 40px;
    }
    .project-content p {
        font-size: 20px;
    }
    .project-content h2 {
        font-size: 30px;
        margin: 30px 0;
    }
    .project-content li {
        font-size: 22px;
    }
    .sp-button {
        padding: 10px 12px;
        font-size: 18px;
    }
    /*contact styles*/
    .contact p {
        font-size: 22px;
    }
    .email a {
        font-size: 28px;
    }  
}
