/*COLOR PALATTE
Dark Green: #0a1316
Beige: #f0e8dd
Black: #080510
Mid-Green:  #6c8170
Light-Green: #addaa9
Bright-Green: #03CC85
*/

/*==============*/
/*GENERAL STYLES */
/*==============*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.home-page h1,
.h1, 
.h2, 
.about h3, 
.about h4, 
.projects h3, 
.projects h4,
.project-info h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 0.02rem;
}

.home-page, 
.collapse-content,
.about-content p, 
.projects, 
.card, 
.contact,
.resume-download h4,
.project-info p,
.project-info li {
    font-family: Quattrocento, serif;
}

a {
    text-decoration: none;
}

.h2 {
    padding: 60px 0 40px 0;
    font-size: 30px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.h3 {
    font-size: 20px; 
} 

.h4 {
    font-size: 18px;
    margin-bottom: 10px;
}


/*==============*/
/*NAVIGATION STYLES */
/*==============*/

.nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 55px;
}

.background-color{
    background-color: #0a1316;
}

.logo {
    position: absolute;
    padding: 8px;
    font-size: 40px;
    font-family: 'Julius Sans One';
    color: white;
}

.nav-button {
    position: absolute;
    top: 12px;
    right: 10px;
    background: none;
    border: none;
}

.burger-bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 5px;
}

.collapse-content {
    padding: 55px 0 0 0;
    display: none;

}

.collapse-content li {
    padding: 10px 5px;
    text-transform: uppercase; 
    text-align: center;
    letter-spacing: 1px;
}

.collapse-content a {
    color: white;
}

.nav a:hover {
    color:#addaa9;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.nav-divider {
    width: 100vw;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.199);
}

.show-nav {
    display: block;
    transition: display 200ms ease-in-out;
}



/*==============*/
/*LANDING PAGE STYLES */
/*==============*/

.home-page {
    line-height: 1.5;
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/jay-mantri-TFyi0QOx08c-unsplash.jpg');
    background-position: bottom right;
    background-attachment: fixed;
    height: 115vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
    text-shadow: 1px 1px 2px rgb(79, 79, 79);
}

.home-page-content {
    padding-left: 15vw;
}

.home-page h1{
    font-size: 45px;
    padding-top: 35vh;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.line {
    background-color: white;
    height: 1px;
    width: 85%;
    margin: 8px 0;
}


/*==============*/
/*ABOUT STYLES */
/*==============*/

.main {
    background-color: white;
    text-align: center;
    line-height: 1.35;
    letter-spacing: 0.01em;
    margin-top: -15vh;
}

.about {
    border-bottom: 3px solid rgb(218, 217, 217);
}

.about-me {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    border-bottom: 3px solid rgb(218, 217, 217);
}

.about h2 {
    padding-top: 250px; 
}

.about-container {
    display: flex;
}

.image {
    width: 250px;
    height: 200px;
    margin: 30px auto;
    background: gray;
}

.about-content {
    margin: 0 auto 20px auto;
    text-align: left;
}

.about-content p {
    margin-bottom: 15px;
}

.about h3 {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.1rem;
}

.about h4 {
    color: black;
    letter-spacing: 0.1rem;
    padding-bottom: 12px;
}

.card {
    padding: 20px;
    margin: 20px auto 40px auto;
    width: 75%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(146, 146, 146);
}

.card-icon {
    font-size: 60px;
    margin: 20px;
    color:#6c8170;
}

.services {
    padding-bottom: 50px;
}

.programming-skills,
.design-skills {
    text-align: left;
    box-shadow: none;
    border-bottom: 3px solid rgb(218, 217, 217);
    margin: 0 auto;
    padding: 30px 0;

}

.skill {
    padding-bottom: 12px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
}

.gray {
    background-color: rgb(184, 183, 183);
}

.resume-container {
    margin: 50px 0;
    display: inline-block;
}

.resume-download {
    display: flex;
}

.far {
    background-color: #03CC85;
    color: white;
    padding: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.resume-download span {
    color: white;
    background: black;
    padding: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* =============
PROJECTS
============= */
.projects {
    padding: 30px 0 150px 0;
    margin: 0 auto;
    width: 80%;
}

.proj-container {   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-proj {
    position: relative;
}

.proj-image {
    width: 280px;
    height: 100%;;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 300ms ease-in;
    background-color: #0a1316;
    padding: 40px 20px;
}

.show {
    opacity: 1;
}

.single-proj:hover .overlay {
    opacity: 1;
}

.projects h3 {
    margin-bottom: 20px;
    font-size: 26px;
    letter-spacing: 0.08rem;
    color: white;
}

.proj-text {
    color: white;
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: 200;
}

.proj-links {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.project-button {
    color: #0a1316;
    background: #addaa9;
    border-radius: 5px;
    padding: 7px 10px;
    width: 60%;
}

.project-button:hover{
    background:white; 
    transform: scale(1.05);
    transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
    transition-duration: 400ms;
}

.proj-icon {
    font-size: 36px;
}



/* =============
INDIVIDUAL PROJECTS
============= */
.single-project {
    height: 40vh;
    background-position: bottom right;
}

.project-info {
    text-align: center;
    padding: 30px;
    margin-bottom: 80px;
}

.single-project-image {
    width: 90%;
    margin: 30px 0;
}

#proj-h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 100px;
    padding-top: 20vh;
}

.project-info p {
    line-height: 1.3;
    margin-bottom: 30px;
}

.project-info ul {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.sp-button {
    background: #03CC85;
    color:white;
    border-radius: 5px;
    padding: 7px 10px;
    width: 46%;
}

.sp-button:hover {
    background: #0a1316;
}

.sp-icon-link {
    color: #0a1316;
}

.sp-icon-link:hover {
    color: #addaa9;
}


/* =============
CONTACT
============= */

.contact {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("images/forest.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
    padding-bottom: 50px;
    color: white;
    
}

.contact h2 {
    color: white;
    padding-top: 200px;
    text-shadow: 1px 1px 1px rgb(54, 54, 54);
}

.contact p {
    padding: 10px;

}

.email a {
    color:white;
    font-size: 20px;
}


.icons {
    margin: 25px auto 30px auto;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}

.icon-link{
    color:#addaa9;
}

.icon-link:hover {
    color: white;
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
    transition-duration: 400ms;
}

.bottom-line {
    height: 1px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.434);
}

.website {
    margin-top: 30px;
    color: gray;
    text-align: center;
}




/* =============
MEDIA QUERIES
============= */
@media (min-width: 470px) {
    .row {
        max-width: 80%;
        margin: 0 auto;
    }
}
@media (min-width: 560px) {
    .line {
        width: 380px;
    }
}
@media (min-width: 650px) {
    .row {
        max-width: 70%;
        margin: 0 auto;
    }
    .proj-image{
        flex-direction: row;
    }
}
@media (min-width: 768px) {
    .nav {
        height: 65px;
    }
    .nav-divider,
    .nav-button {
        display: none;
    }
    .collapse-content {
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
    }
    .ul {
        display: flex;
    }
    .collapse-content a {
        font-size: 20px;
        padding-right: 50px;
    }
    .transition {
        padding-top: 20px;
    }
    .line {
        width: 480px;
    }
    .landing h1 {
        font-size: 60px;
    }
    .landing p {
        font-size: 20px;
    }
    .logo {
        font-size: 40px;
        padding: 25px 0 0 50px;
    }
    .h2 {
        font-size: 40px;
    }
    .about p {
        font-size: 18px;
        line-height: 1.35;
        width: 80%;
        margin: 15px auto;
    }
    .
    .programming {
        display: flex;
        justify-content: space-around;
    }
    .skill p {
        margin: 0;
    }
    .services h3 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .services h4 {
        font-size: 25px;
    }
    .content {
        width: 60%;
        margin: 0 auto;
    }
    .projects p {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .project-button {
        width: 160px;
    }
    .contact p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .email a {
        font-size: 22px;
    }
    .icons {
        margin-top: 35px;
        width: 60%;
        font-size: 35px;
    }
}
@media (min-width: 1200px){
    .row {
        display: flex;
        padding: 60px 0 100px 0;
    }
    .card {
        margin: 20px;
    }
    .services h3 {
        font-size: 35px;
        padding-top: 150px;
    }
    .services h4 {
        padding: 8px 0;
    }
}
