@import "general.css";

/*==============*/
/*LANDING PAGE STYLES */
/*==============*/

.home-page {
    line-height: 1.3;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('images/cover.jpg');
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/cover.jpg');
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/cover.jpg');
    background-position: bottom right;
    height: 115vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
    text-shadow: 1px 1px 2px #0a1316;
}

.home-page-content {
    padding: 0 10vw 0 15vw;
    animation: 500ms ease-out 0s 1 slideUp;
}

.home-page h1{
    font-size: 45px;
    padding-top: 35vh;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.line {
    background-color: white;
    height: 1px;
    margin: 8px 0;
    width: 210px;
}



/*==============*/
/*ABOUT STYLES */
/*==============*/

.main {
    text-align: center;
    line-height: 1.35;
    letter-spacing: 0.01em;
    margin-top: -15vh;
}

.about {
    padding: 100px 0 60px;
}

.about-me {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.image {
    max-width: 280px;
    height: auto;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
            clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
}

.about-content {
    text-align: left;
    line-height: 1.5;
    font-size: 17px;
}

.about-content p {
    margin-bottom: 15px;
}

.about h3 {
    color: black;
    letter-spacing: 0.1rem;
    padding-bottom: 15px;
}

/*==============*/
/*SERVICES STYLES */
/*==============*/

.services-content {
    padding-bottom: 60px;
    background: rgb(245, 245, 245);
}

.card {
    margin: 40px auto;
    width: 70%;
}

.service {
    background-color:rgb(250, 249, 249);
    border-bottom: 3px solid #03CC85;
    box-shadow: 1px 1px 5px rgb(203, 203, 203);
    padding: 30px;
    border-radius: 3px;
    max-width: 350px;
    line-height: 1.5;
    font-size: 17px;
    width: 85%;
}

.card-icon {
    font-size: 60px;
    margin: 20px;
    color: #0a1316;
}

.serve {
    padding-bottom: 120px;
}

.programming-skills,
.design-skills {
    text-align: left;
    border-bottom: 2px solid rgb(218, 217, 217);
    margin: 0 auto;
    padding: 60px 0;
}


.skill {
    padding-bottom: 12px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: #0a1316;
}

.gray {
    background-color: rgb(163, 162, 162);
}

.resume-container {
    margin-top: 60px;
    display: inline-block;
}

.resume-download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    transition: 200ms ease-in;
}

.resume-download:hover {
    box-shadow: 3px 3px 5px #40414133;
    transition: 200ms ease-in;
}

.far {
    background-color: #03CC85;
    font-size: 20px;
    color: white;
    padding: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 1px 1px 2px #0a13166f;
}

.resume-download span {
    color: white;
    background: black;
    padding: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 1px 1px 2px #0a13166f;

}

/* =============
PROJECTS
============= */
.projects {
    padding-bottom: 150px;
    margin: 0 auto;
}

.proj-container { 
    margin: 0 auto;
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
}


.single-proj {
    position: relative;
}

.proj-image {
    width: 280px;
    height: 100%;
    min-height: 250px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0; 
    -webkit-transition: 200ms ease-in;
         -o-transition: 200ms ease-in;
            transition: 200ms ease-in;
    background-color: #03CC85;
    padding: 40px 20px;
}

.single-proj:hover .overlay {
    opacity: 1;
}

.show {
    opacity: 1;
}

.projects h3 {
    font-size: 26px;
    color: #0a1316;
}

.proj-text {
    color: #0a1316;
    font-size: 17px;
    padding-bottom: 30px;
    line-height: 1.5;
}

.proj-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
}

.project-button {
    border: 1px solid #0a1316;
    box-shadow: 1px 1px 2px #0a131666;
    color: #0a1316;
    border-radius: 3px;
    padding: 7px 10px;
    width: 60%;
}

.project-button:hover{
    background-color: #0a1316;
    color: white;
    -webkit-transform: scale(1.05); 
        -ms-transform: scale(1.05); 
            transform: scale(1.05);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    -o-transition: transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
         -o-transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
            transition-timing-function: cubic-bezier(.74,4.03,.47,.9);
    -webkit-transition-duration: 400ms;
         -o-transition-duration: 400ms;
            transition-duration: 400ms;
}

.project-button:focus{
    background-color: #0a1316;
    color: white;
}


/* =============
MEDIA QUERIES
============= */
@media (min-width: 470px) {
    .home-page{
        background-attachment: fixed;
    }
    .card {
        width: 550px;
    }
    .programming-skills,
    .design-skills{
        margin: 40px auto;
        width: 60%;
    }
    .proj-container {
        margin: 0 50px;
    }
    .proj-image {
        width: 340px;
        min-height: 280px;
    }
}
@media (min-width: 768px) {
    .line {
        width: 320px;
        animation: 1200ms ease-in-out 300ms slide-medium;

    }
    .home-page h1 {
        font-size: 70px;
    }
    .home-page p {
        font-size: 24px;
    }
    /*about styles*/
    .image {
        max-width: 500px;
        margin-bottom: 40px;
    }
    .about p {
        font-size: 18px;
        width: 80%;
        margin: 10px auto;
    }
    .service {
        -webkit-transition: 200ms ease-in;
        -o-transition: 200ms ease-in;
           transition: 200ms ease-in;
    }
    .service:hover {
        box-shadow: 2px 2px 5px rgb(199, 199, 199);
        transform: translateY(-20px);
        -webkit-transition: 200ms ease-in;
             -o-transition: 200ms ease-in;
                transition: 200ms ease-in;
    }
    .skill p {
        margin: 0;
    }
    .h3 {
        font-size: 28px;
        padding-bottom: 10px;
    }
    h3.title {
        padding-bottom: 30px;
        text-align: center;
    }
    div.skills {
        padding-top: 50px;
    }
    .skill-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    /*project styles*/
    .projects p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .proj-container {
        margin: 0 60px;
    }
    .proj-image {
        width: 360px;
        min-height: 300px;
    }
    .project-button {
        width: 70%;
    }
}
@media (min-width: 1200px){
    /*home page styles*/
    .home-page h1 {
        font-size: 90px;
        padding-top: 40vh;
    }
    .line {
        width: 410px;
        animation: 1200ms ease-in-out slide-desktop;
    }
    .home-page p {
        font-size: 32px;
    }
    /*about styles*/
    .about-me {
        margin: 0 auto;
        width: 80%;
    }
    .about-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
           -ms-flex-align: start;
              align-items: flex-start;
    }
    .about-content img {
        width: 40%;
        margin: 0;
    }
    .about-content p {
        margin: 0 60px 20px;
    }
    
    .services:first-child {
        padding: 80px 0 0;
    }
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        margin: 0 50px;
    }
    .programming-skills {
        padding-top: 0px;
    }
    .programming-skills, 
    .design-skills {
        margin: 0 auto;
        width: 80%;
    }
    .service {
        margin: 0 30px;
    }
    .design-skills {
        padding-top: 0;
    }
    .resume-container {
        padding-bottom: 30px;
    }
    /*project styles*/
    .proj-container {
        margin: 0 50px;
    }
    .proj-image {
        width: 400px;
        min-height: 360px;
    }
    .projects h3 {
        margin-bottom: 20px;
        font-size: 35px;
        letter-spacing: 1px;
    }
    .project-button {
        padding: 10px 12px;
    } 
}



@keyframes slideUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  @keyframes slideDown {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }